{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" id="form" class="ui form">
        {% csrf_token %}
        
        <div class="container_factura">
            <div class="fields">
                <div class="field">
                    <label for="">Nombre <i variable="nombre" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Telefono <i variable="telefono" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">ciudad <i variable="ciudad" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Tipo de persona <i variable="tipo_persona" class="pencil icon"></i></label>
                </div>
            </div>
    
            <div class="fields">
                <div class="field">
                    <label for="">Nit <i variable="nit" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Departamento <i variable="departamento" class="pencil icon"></i></label>
                </div>
            </div>
    
            <div class="fields">
                <div class="field">
                    <label for="">Tipo de via <i variable="tipo_via" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Numero <i variable="numero" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Complemento <i variable="complemento" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Casa o apartamento <i variable="casa_apto" class="pencil icon"></i></label>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label for="">Descripcion <i variable="descripcion" class="pencil icon"></i></label>
                </div>
            </div>
    
            <div class="fields">
                <div class="field">
                    <label for="">Correo electronico <i variable="correo_electronico" class="pencil icon"></i></label>
                </div>
                <div class="field">
                    <label for="">Contraseña <i variable="contraseña" class="pencil icon"></i></label>
                </div>
                
            </div>
            
        </div>
        <div class="fields">
            <div class="field">
                <label for="">digite su cntrasea para guardar los cambios</label>
                <input type="password" name="verifi_cliente" id="">
                <input type="submit" value="actualizar">
            </div>
        </div>
            
    </form>
    <script>
        var acciones = document.querySelectorAll('i');
        
        acciones.forEach(element => {
            element.addEventListener('click', function () {
                if (document.getElementsByName(element.getAttribute("variable")).length === 0) {
                    alert("hduahfbhdsbi");
                    const inputName = document.createElement('input');
                    inputName.name = element.getAttribute("variable");
                    inputName.className = '';
                    if (element.getAttribute("variable") === 'contraseña') {
                        inputName.setAttribute('type', 'password');
                    } else {
                        inputName.setAttribute('type', 'text');
                    }
                    
                    element.parentNode.appendChild(inputName);
    
                    console.log(document.getElementsByName(element.getAttribute("variable")));
                }
            });
        });
    </script>
</body>
</html>